<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.amarnehsoft.vaccinations">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.AddChildActivity" />
        <activity android:name=".activities.HomeActivity" />
        <activity android:name=".activities.ChildActivity" />
        <activity android:name=".activities.VaccinationActivity" />
        <activity android:name=".activities.KindergartnsListActivity" />
        <activity android:name=".activities.StocksListActivity" />

        <receiver android:name=".broadcastReceiverss.NotificationPublisher" />
        <receiver android:name=".services.AlarmReceiver" />

        <activity android:name=".admin.DashboardActivity" />
        <activity android:name=".admin.activities.VaccinationsListActivity" />
        <activity
            android:name=".activities.DummyActivity"
            android:label="@string/title_activity_dummy"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".admin.activities.AddEditVaccinationActivity" />
        <activity android:name=".admin.activities.AdsListActivity" />
        <activity android:name=".admin.activities.AddEditAdsActivity" />
        <activity
            android:name=".activities.KindergartenInfoActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.CorporationsListActivity" />
        <activity android:name=".activities.CorporationInfoActivity" />
        <activity android:name=".admin.activities.KindergartenListActivity" />
        <activity android:name=".admin.activities.AddEditKindergartenActivity"></activity>
    </application>

</manifest>